.App {
  /* text-align: center; */
  font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
  background: #ee9972;
  padding: 20px;
}
nav a {
  color: #edefee;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.about{
  /* display: flex; */
  align-items: center;
  text-align: center;
  
}

.card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden; /* Ensure content stays within the circle */

  &:hover {
    border: 5px solid rgba(142, 242, 145, 0.961); /* Adjust background color if needed */
  }
}

.card h2 {
  font-size: 1.2em; /* Adjust font size as needed */
  margin: 5px 0; /* Adjust margin for spacing */
  text-decoration: underline;
  color:white;
}

.card h3 {
  font-size: 0.742em; /* Adjust font size as needed */
  margin: 5px 0; /* Adjust margin for spacing */
}

.intro-card {
  background-color: rgba(255, 149, 0, 0.6);
  position: fixed;
  padding: 10px; /* Reduced padding to fit content */
  border-radius: 50%;
  top:20%;
  left:3%;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.welcome-card {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  width: 400px;
  height: 150px;
  margin-top: 20%;
  margin-left: 68.5%;
  background-color: aqua;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: solid;
  font-size: 3em;
  position: fixed;
}

.create-card {
  border-radius: 50%;
  width: 450px;
  height: 150px;
  margin-top: 25%;
  margin-left: 15%;
  text-align: left;
  background-color: rgba(245, 81, 171, 0.7);
}

.logo-card {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10%;
  margin-left: 40%; 
  animation: App-logo-spin 20s linear infinite;
}

.card-image{
  width: 100%;
  height: 100%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color:red;
  text-shadow: 2px 2px rgba(43, 8, 8, 0.7);
}



